<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LazyCoder || sumit</title>


</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success' style="background-color: aliceblue; font-weight: 700;">Send Us Your Valuable Feedback !</h3>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group" style="border-width: 5px; border-color: black; border-width: 5px;
      border-color: black;
      width: 700px;
      background-color: rgb(149, 149, 196);
      text-align-last: center;
      margin-top: 5px;
      border-radius: 15px;
      padding-top: 10px;
      ">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg' style="margin-bottom: 10px;">
      </div>
    </form>
  </center>
  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
