<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel = "stylesheet" href = "/static/departments.css" type="text/css" charset="utf-8">

  <title>LazyCoder || sumit</title>
</head>

  <title>LazyCoder || sumit</title>
  <body style="margin-top: 100px; background-color: aquamarine;">
  {% include "hospital/revo-navbar.html" %}
  <br><br>

<div class="header-department">
    <h2 class="main-heading">Best Doctors in India</h2>
    <!--<p class="sub_hdng pt-1">Confused about what to do? Consult Apollo Experts Now to <strong>Get a Second Opinion</strong></p> -->
    <p class="sub_hdng pt-1">Learn about the world class health care we provide</p>
    <br>
</div>

<div class="testimonial-grid">
  <div class="col-md-4">
    <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/AnyConv.com__bangalore-2.webp" alt="Advised a procedure or surgery?" class="img-fluid rounded-4 d-none d-sm-block" style="width:100%;height:100%;border-radius: 20px;">
  </div>
            <div class="col">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/carotid-angioplasty-stenting/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=carotid-angioplasty-stenting" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Angioplasty.svg" alt="icon">
            <h5 style="font-size:12px">Angioplasty</h5>
            </a>
            </div>

            <div class="col-1">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/cabg-coronary-artery-bypass-graft/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=cabg-coronary-artery-bypass-graft" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/cabg_icon.webp" alt="icon">
            <h5 style="font-size:12px">Cabg</h5>
            </a>
            </div>

            <div class="col-1">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/lipoma/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=lipoma" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Lipoma.svg" alt="icon">
            <h5 style="font-size:12px">Lipoma</h5>
            </a>
            </div>

            <div class="col-1">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/thyroidectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=thyroidectomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Thyroidectomy.svg" alt="icon">
            <h5 style="font-size:12px">Thyroidectomy</h5>
            </a>
            </div>

            <div class="col-1">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/endoscopy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=endoscopy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/endoscopy_icon.svg" alt="icon">
            <h5 style="font-size:12px">Endoscopy</h5>
            </a>
            </div>

            <div class="col-2">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/gallstones-removal-cholecystectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=gallstones-removal-cholecystectomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/cholecystectomy_icon.svg" alt="icon">
            <h5 style="font-size:11px">Cholecystectomy</h5>
            </a>
            </div>

            <div class="col-2">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/hysterectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=hysterectomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Hysterectomy.svg" alt="icon">
            <h5 style="font-size:12px">Hysterectomy</h5>
            </a>
            </div>

            <div class="col-2">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/micro-neurosurgery/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=micro-neurosurgery" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Neurosurgery.svg" alt="icon">
            <h5 style="font-size:12px">Neurosurgery</h5>
            </a>
            </div>

            <div class="col-2">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/carotid-endarterectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=carotid-endarterectomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Carotid_endarterectomy.svg" alt="icon">
            <h5 style="font-size:12px">Carotid endarterectomy</h5>
            </a>
            </div>

            <div class="col-3">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/craniotomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=craniotomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/craniotomy_icon.svg" alt="icon">
            <h5 style="font-size:12px">Craniotomy</h5>
            </a>
            </div>

            <div class="col-3">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/laminectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=laminectomy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Laminectomy.svg" alt="icon">
            <h5 style="font-size:12px">Laminectomy</h5>
            </a>
            </div>

            <div class="col-3">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/stroke-prevention/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=stroke-prevention" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Surgery_Stroke.svg" alt="icon">
            <h5 style="font-size:12px">Surgery for Stroke</h5>
            </a>
            </div>

            <div class="col-3">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/colonoscopy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=colonoscopy" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Colonoscopy.svg" alt="icon">
            <h5 style="font-size:12px">Colonoscopy</h5>
            </a>
            </div>

            <div class="col-4">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/cabg-coronary-artery-bypass-graft/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=cabg-coronary-artery-bypass-graft" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Bone-Marrow-Transplant.svg" alt="icon">
            <h5 style="font-size:12px">Bone marrow transplant</h5>
            </a>
            </div>

            <div class="col-4">
            <a href="https://www.apollohospitals.com/book-doctor-appointment/cataract-surgery/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=cataract-surgery" class="pg_widget">
            <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/cataract_icon.svg" alt="icon">
            <h5 style="font-size:12px">Cataract</h5>
            </a>
            </div>

            <div class="col-4">
              <a href="https://www.apollohospitals.com/book-doctor-appointment/total-knee-replacement/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=total-knee-replacement" class="pg_widget">
                  <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Knee-Replacement.svg" alt="icon">
                  <h5 style="font-size:12px">Knee replacement</h5>
              </a>
            </div>
            <div class="col-4">
              <a href="https://www.apollohospitals.com/book-doctor-appointment/hip-replacement/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=hip-replacement" class="pg_widget">
                  <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Hip-Replacement-1.svg" alt="icon">
                  <h5 style="font-size:12px">Hip replacement</h5>
              </a>
            </div>
            <div class="col-5">
              <a href="https://www.apollohospitals.com/book-doctor-appointment/circumcision/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=circumcision" class="pg_widget">
                  <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Circumcision.svg" alt="icon">
                  <h5 style="font-size:12px">Circumcision</h5>
              </a>
            </div>
            <div class="col-5">
              <a href="https://www.apollohospitals.com/book-doctor-appointment/liposuction/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=liposuction" class="pg_widget">
                  <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Liposuction.svg" alt="icon">
                  <h5 style="font-size:12px">Liposuction</h5>
              </a>
            </div>
            <div class="col-5">
              <a href="https://www.apollohospitals.com/book-doctor-appointment/prostatectomy/procedure/?utm_source=ahel&utm_medium=procedures&utm_campaign=prostatectomy" class="pg_widget">
                  <img src="https://cdn.apollohospitals.com/apollohospitals/assets/icons/Prostatectomy.svg" alt="icon">
                  <h5 style="font-size:12px">Prostatectomy</h5>
              </a>
            </div>
          </div>

          {% include "hospital/revo-footer.html" %}